@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";


// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

$primary: #3298dc;
// $primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Sansita+Swashed&display=swap");

$divider-margin-size: 2px 20%;
@import "../node_modules/@creativebulma/bulma-divider/src/sass/index";

.bg-image {
  /* The image used */
  // background-image: url("../4.jpg");
  //   filter: blur(5px);

  /* Add the blur effect */
  transition: all 1s ease-in-out;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop {
  backdrop-filter: blur(15px);
  background-color: #fff5;
  color: black;
}

.modal-content {
  background-color: #fff;
}
.notification {
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
    0 0px 0 1px rgba($scheme-invert, 0.02);
}

body {
  font-size: 1.15em;
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
.service-list p:not(:last-child) {
  margin-bottom: 0.75rem;
}

.navbar {
  transition: all 2s ease-in-out 1s;
  // background-color:#3298dcc7 !important;
  .logo-title {
    font-family: "Courgette", cursive;
    font-size: 1.4em;
    transition: all ease-in-out 0.5s;
    visibility: "none";
    opacity: 0;
  }
  .navbar-burger {
    height: auto;
  }
  .navbar-logo {
    visibility: "none";
    transition: all ease-in-out 0.5s;
    opacity: 0;
  }
}

.doc-hero {
  .title {
    font-size: 4em;
    font-family: "Courgette", cursive;
  }
  .hero-body {
    padding-bottom: 2rem;
  }
}
#wave path {
  fill: #fff;
}

.logo {
  width: 188px;
  position: absolute;
  right: calc(50% + 148px);
  top: -53px;
}

.doc-pic {
  width: 200px;
  height: 200px;
  margin: 4px auto !important;
  border-radius: 50%;
  background-position-x: 40%;
  background-size: cover;
  padding: 4px;
  border: solid 3px;
  border-color: inherit;
}

.content h3:not(:first-child) {
  margin-top: 0.5em;
  font-size: 2.5rem;
}

.peace {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 400px;
  width: 50%;
  height: 300px;
  margin: 0px  auto  20px auto;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    font-weight: bold;
    font-size: 5rem;
    vertical-align: middle;
  }
}

///////////Quote//////////////

.blockquote {
  position: relative;
  font-family: "Courgette", cursive;
  max-width: 620px;
  margin: 30px auto;
  align-self: center;

  span {
    color: $primary;
  }
  /* Blockquote header */

  h1 {
    // font-family: 'Abril Fatface', cursive;
    position: relative; /* for pseudos */
    color: inherit;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    // border: 2px solid #fff;
    border: solid 2px $primary;
    border-radius: 20px;
    padding: 25px;
  }

  /* Blockquote right double quotes */
  h1:after {
    content: "";
    position: absolute;
    border: 2px solid $primary;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
  }
  h1:before {
    content: "";
    position: absolute;
    width: 80px;
    color: inherit;
    border: 6px solid #fafafa;
    bottom: -3px;
    left: 50px;
    z-index: 2;
  }

  /* Blockquote subheader */
  h4 {
    position: relative;
    // color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
  }

  h4:first-letter {
    margin-left: -12px;
  }
}

//Mobile
@media screen and (max-width: $tablet - 1px) {
  .logo {
    width: 100px;
    position: absolute;
    right: calc(50% + 72px);
    top: -31px;
  }
  .navbar {
    .logo-title {
      // max-width: 100%;
      // font-size: 1.7em;
      // margin: auto;
    }
  }
  .blockquote {
    h1 {
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    .logo-title {
      font-size: 100%;
    }
  }
}

//Desktop
@media screen and (min-width: $tablet), print {
  .doc-hero .hero-body {
    padding-bottom: 3rem !important;
  }
}
